@using MyShop.DataLayer.ViewModels

@model List<ShowGroupViewModel>

    
    
    
<div class="list-group" style="width: 16rem;margin: 5px">
    <button type="button" class="list-group-item list-group-item-action active">
        گروه ها
    </button>
    @foreach(var item in Model)
    {
        <a href="/Group/@item.GroupId/@item.GroupTitle" class="list-group-item list-group-item-action list-group-item-light">@item.GroupTitle
        
        <span class="badge badge-primary badge-pill">@item.ProductCount</span></a>
    }
</div>