@model IEnumerable<MyShop.DataLayer.Domain.Product>
@{
    ViewData["Title"] = "Index";
}



<div class="row">
    @foreach (var item in Model)
    {
            <partial name="_BoxProduct" model="@item"/>
    }
</div>